.metals
cli/target/*
*.class
*.log
.bloop/
cli/target/**
.cache
.coursier-cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/project/.sbtboot
/project/.boot/
/project/.ivy/
/.sbtopts
